backend/payment-service/src/main/resources/payment.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://paymentsoapservice.lab/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PaymentService" targetNamespace="http://paymentsoapservice.lab/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://paymentsoapservice.lab/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://paymentsoapservice.lab/" version="1.0">
  <xs:element name="processPayment" type="tns:processPayment"/>
  <xs:element name="processPaymentResponse" type="tns:processPaymentResponse"/>
  <xs:complexType name="processPayment">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:paymentRequest"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paymentRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:double"/>
      <xs:element minOccurs="0" name="cardNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="cvv" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="processPaymentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:paymentResponse"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paymentResponse">
    <xs:sequence>
      <xs:element name="approved" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentFault" type="tns:PaymentFault"/>
  <xs:complexType name="PaymentFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:int"/>
      <xs:element minOccurs="0" name="text" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="PaymentFault">
    <wsdl:part element="tns:PaymentFault" name="PaymentFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processPayment">
    <wsdl:part element="tns:processPayment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processPaymentResponse">
    <wsdl:part element="tns:processPaymentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PaymentService">
    <wsdl:operation name="processPayment">
      <wsdl:input message="tns:processPayment" name="processPayment">
    </wsdl:input>
      <wsdl:output message="tns:processPaymentResponse" name="processPaymentResponse">
    </wsdl:output>
      <wsdl:fault message="tns:PaymentFault" name="PaymentFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentServiceSoapBinding" type="tns:PaymentService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="processPayment">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="processPayment">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="processPaymentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PaymentFault">
        <soap:fault name="PaymentFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentService">
    <wsdl:port binding="tns:PaymentServiceSoapBinding" name="PaymentServicePort">
      <soap:address location="http://localhost:8083/soap-api/service/payment"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>